.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem;
}

.feature div {
  display: flex;
  align-items: center;
}

.toggle-btn {
  border-radius: 5px;
  outline: none;
  background-color: white;
  border: 2px solid black;
  width: 8rem;
  height: 2rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.keep {
  color: green;
  font-size: 1rem;
  font-weight: 600;
}

.stop {
  color: red;
  font-size: 1rem;
  font-weight: 600;
}

.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.video-item.item img {
  max-width: 180px;
}

